<div class="row">
  <div class="col-6">
    <h2 *ngIf="!updateMode" style="padding-top:30px">Add New Shipping Address</h2>
    <h2 *ngIf="updateMode" style="padding-top:30px">Edit Shipping Address</h2>
    <form #f="ngForm">
      
      <div class="form-group">
        <label for="shippingName">Name</label>
        <input #shippingName="ngModel" name="shippingName" [(ngModel)]="currentShipping.shippingName" type="text" class="form-control" placeholder="Name" required>
        <div class="alert alert-danger" *ngIf="shippingName.touched && shippingName.invalid">
          <div *ngIf="shippingName.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="addressLine1">Address Line 1</label>
        <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="currentShipping.addressLine1" type="text" class="form-control" placeholder="Line 1" required>
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
          <div *ngIf="addressLine1.errors.required">Address Line 1 is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="addressLine2">Address Line 2</label>
        <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="currentShipping.addressLine2" type="text" class="form-control" placeholder="Line 2" required>
        <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
          <div *ngIf="addressLine2.errors.required">Address Line 2 is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input #city="ngModel" name="city" [(ngModel)]="currentShipping.city" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          <div *ngIf="city.errors.required">City is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input #state="ngModel" name="state" [(ngModel)]="currentShipping.state" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="state.touched && city.invalid">
          <div *ngIf="state.errors.required">City is required.</div>
        </div>
      </div>

      <button *ngIf="!updateMode" (click)="addShipping(f)" [ngClass]="{disabled: f.invalid}" class="btn btn-primary">Add Shipping Address</button>
      <button *ngIf="updateMode" (click)="updateShipping(f)" [ngClass]="{disabled: f.invalid}" class="btn btn-primary">Update Shipping Address</button>
      <button *ngIf="updateMode" (click)="addMode(f)" class="btn btn-secondary ml-1">Cancel</button>

    </form>
  </div>
  <div class="col">
    <button [disabled]="!shippings || (shippings.length === 0)" type="button" class="btn btn-primary float-right" [routerLink]="['/cart-summary']" routerLinkActive="router-link-active" >
      Proceed <i class="fa fa-arrow-right"></i>
    </button>
    <h2 style="padding-top:30px">Select Shipping Address</h2>
    <div class="row">
      <ng-container *ngFor="let shipping of shippings; let i = index">
        <div class="col-6">
          <div class="card col-12 mt-3" style="width: 18rem;" [ngClass]="{'border border-primary': shipping.isPreferred === true}"
          (click)="makePreferred(shipping)">
            <div class="card-body">
              <h5 class="card-title">{{shipping.shippingName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{shipping.state}}</h6>
              <p class="card-text">{{shipping.addressLine1}}</p>
              <p *ngIf="shipping.addressLine2" class="card-text">{{shipping.addressLine2}}</p>
              <p class="card-text">{{shipping.city}}</p>
              <button class="btn btn-secondary mr-2" (click)="$event.stopPropagation()" (click)="editShipping(shipping)">Edit</button>
              <button class="btn btn-danger" (click)="$event.stopPropagation()" (click)="deleteShipping(shipping)">Delete</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
